html {
	overflow-y: scroll;
}
html, body {
	margin: 0;
	padding: 0;
	background: #eee;
}
#container {
	margin: 0 auto 0 auto;
	width: 900px;
	/*min-height: 160px;*/
	font-family: Helvetica, sans-serif;
	color: #222;
	
	position: relative;
	min-height: 100%;
	background: #fff;
	border: solid #ddd;
	border-width: 0 3px 0 3px;
}
#content {
	padding: 0.5em 2.5em 2.5em 2.5em; /* padding-bottom: footer height */
}

/* Portal */
#portal {
	width: 75%;
	display: table;
	margin: 0 auto 0.5em auto;
	padding-top: 145px;
	background: url(logo_full.png) 15% 0 no-repeat;
	text-align: center;
}
.portal-button {
	display: table-cell;
	font-weight: bold;
	font-size: 105%;
	text-transform: uppercase;
	color: #696969;
}
.portal-button:hover {
	color: #e8a321;
}

#portal .last {
	border-right: 0;
}

a img { border-style: none; }
a { text-decoration: none; }
hr {
	border: 1px dotted #aaa;
	width: 100%;
	border-width: 1px 0 0 0;
	height: 0.8em;
}

#portal-summary {
	font-size: 90%;
}
.portal-link {
	color: #6db23f;
	font-size: 95%;
	font-weight: bold;
	padding-right: 0.5em;
}
.portal-link:hover {
	color: #aaa;
}

#portal-announce {
	text-align: center;
	background-color: #e6e6fa;
	padding: 0.5em 0em 0.5em 0em;
	margin-bottom: 1em;
}

.paypal {
	font-size: 85%;
	margin-top: 0.5em;
}
.paypal input {
	vertical-align: middle;
	margin: 0em 0em 0em 0.5em;
}
.paypal label {
	vertical-align: middle;
}

#slideshow-container {
	float: right;
	width: 540px;
}
#portal-slideshow {
	max-width: 340px;
	min-height: 226px;
	border: 1px solid #aaa;
	font-size: 85%;
	margin-left: 1em;
	margin-bottom: 4em;
}
.portal-quote {
	position: absolute;
/*	top: 240px;
	left: 0;*/
	top: 0;
	left: 355px;
	background-color: #fff;
	width: 175px;
	height: 280px;
}
.portal-quote-attrib {
	margin-top: 0.5em;
	color: #888;
}

.clear {
	clear: both;
}



#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	border-top: 1px dotted #bbb;
	font: 80% Helvetica, sans-serif;
}
#footer-content {
	padding: 0.3em 2.5em 0.3em 2.5em;
}
