html {
	overflow-y: scroll;
}
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	background: #eee;
}

#container {
	width: 950px;
	position: relative;
	min-height: 100%;
	margin: 0 auto 0 auto;
	background: #fff;
}

#masthead {
	background: #fff;
}

a#logo {
	float: left;
	margin: 10px 10px 10px 30px;
}
a#logo img {
	border-style: none;
}

#topnav {
	float: right;
}
ul#topnav, ul#topnav li ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font: bold 95% Helvetica, sans-serif;
	background-color: #fff;
}
ul#topnav li.topnav-box {
	float: left;
	width: 130px; /* Width of icon */
	min-height: 2.5em; /* At least height of text */
	border-left: 1px dotted #bbb;
	text-align: center;
}

#nav1 { background: url(nav1a.png) 15px 0 no-repeat; }
#nav2 { background: url(nav2a.png) 15px 0 no-repeat; }
#nav3 { background: url(nav3a.png) 15px 0 no-repeat; }
#nav2:hover { background: url(nav2b.png) 15px 0 no-repeat; }
#nav1:hover { background: url(nav1b.png) 15px 0 no-repeat; }
#nav3:hover { background: url(nav3b.png) 15px 0 no-repeat; }
.topnav-link {
	display: block;
	width: 130px;
	padding-top: 100px;
}


ul#topnav li ul.topnav-menu { /* Submenu */
	position: absolute;
	display: none;
}
ul#topnav li:hover ul.topnav-menu { /* Submenu on hover */
	display: block;
	margin: -1px 0 0 -1px;
	padding: 1em 15px 0.5em 15px;
	border: dotted #b3b3b3;
	border-width: 0 0 1px 1px;
	z-index: 99; /* Fix to show submenu above main content */
	text-align: left;
	min-width: 100px;
}
ul.topnav-menu li {
	margin-bottom: 0.2em;
}
ul#topnav a { /* Link */
	color: #555;
	text-decoration: none;
}
ul#topnav a:hover { /* Link hover */
	color: #e8a321;
}

hr.gap {
	margin: 0;
	padding: 0;
	height: 10px;
	border-top: 4px solid #ddd;
	background-color: #eee;
}
#content {
	background: #fff;
	font: 85%/1.4em Helvetica, sans-serif;
	color: #222;
	padding-bottom: 4.5em; /* >= footer height */
	clear: both;
}

/* Wrappers are necessary to maintain equal height columns */
/* <http://matthewjamestaylor.com/blog/equal-height-columns-cross-browser-css-no-hacks> */
#col2-wrap { /* Outer */
	width: 100%;
	overflow: hidden;
	clear: both;
}
#col1-wrap { /* Inner */
	width: 100%;
	position: relative;
	right: 260px; /* col2 width */
	margin-bottom: 1em;
}
#col1 {
	float: left;
	width: 690px; /* (page width) - (col2 width) */
	position: relative;
	left: 260px; /* col2 width */
	overflow: hidden;
}
#col2 {
	float: left;
	width: 260px;
	position: relative;
	left: 260px; /* col2 width */
	overflow: hidden;
}
#mainbar {
	padding: 1em 3.2em 0.5em 30px;
}
#sidebar {
	border: solid #b3b3b3;
	border-width: 0 0 1px 1px;
/*	border-top-left-radius: 10px; */
	border-bottom-left-radius: 10px;
/*	-moz-border-radius-topleft: 10px; */
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-top-left-radius: 10px;
/*	-webkit-border-bottom-left-radius: 10px; */
	padding: 0.5em 0 0.5em 0;
	/*margin-top: 3em;*/
}


#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}
#footer-content {
	padding: 0.3em 1em 0.3em 1em;
	font: 80% Helvetica, sans-serif;
}
#footer-social {
	float: right;
	margin-left: 1em;
}
#footer-nav {
	float: right;
}
#footer-nav a {
	padding: 0 0.5em 0 0.5em;
	font-size: 110%;
	font-weight: bold;
	color: #6db23f /* #e8a321 */;
}
#footer-nav a:hover {
	color: #aaa;
}
#footer-legal {
	padding-top: 0.2em;
}


#title {
	margin: 0;
	padding: 0.3em 0 0.2em 30px;
	background: #6db23f;
	color: #fff;
	font-size: 160%;
}

h1, h2 {
	color: #999;
	margin: 0.4em 0 0.4em 0;
}

h3 {
	font-size: 120%;
	border-bottom: 1px dotted #777;
	font-variant: small-caps;
}

h3, h4, h5 {
	color: #777;
	margin: 0.4em 0 0.4em 0;
}

/* Inline formatting */

p { margin: 0.4em 0 0.4em 0; }
a {
	text-decoration: none;
	color: 	#f46f1b; /*#e87600 #f08c37 #e8a321 #6db23f */;
}
a:hover { color: #333; }

/*
h1, h2, h3, h4, h5 {
	color: #555;
}
h1, h2 {
	margin: 0.6em 0 0.8em 0;
}
h3, h4, h5 {
	margin: 0.6em 0 0 0;
}
h1, h2 {
	border-bottom: 1px dotted #aaa;
	color: #aaa;
}
*/

big {
	font-weight: bold;
	color: #555;
}
hr {
	border: 0;
	background-color: #b3b3b3;
	height: 1px;
}
.clear {
	clear: both;
}

.caption {
	font-size: 94%;
	line-height: 125%;
	padding: 0 0.5em 0.5em 0.5em;
	color: #555;
}


.toc {
	text-align: center;
}
.person {
	margin-right: 0.2em;
	color: #6db23f;
	font-weight: bold;
}
.person-title {
	font-size: 95%;
	color: #999;
}

ul.sidebar-links {
	list-style: none;
	padding: 0;
}
ul.sidebar-links li {
	margin: 0 2em 0 2em;
	border-bottom: 1px dashed #dfdfdf;
}
ul.sidebar-links li:hover {
	background-color: #eee;
	padding-left: 0.5em;
	border-bottom-style: solid;
}
ul.sidebar-links li a {
	font-size: 105%;
	color: #6db23f /* #e8a321 */;
}
ul.sidebar-links li:hover a {
	color: #777;
}

#donate-paypal {
	float: left;
	width: 50%;
}
#donate-wishlist {
	float: right;
	width: 45%;
}
#donate-address {
	clear: both;
	padding: 1em 0 0 20%;
}


.const-notice {
	margin: 0 auto 0 auto;
	background: url(icon-construction.png) 0 0 no-repeat;
	min-width: 100px;
	min-height: 100px;
	padding-top: 15px;
	padding-left: 110px;
}
