{% load staticfiles %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'main/commons/portal.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'main/commons/media.css' %}" />
    <script src="{% static 'main/commons/script.js' %}" type="text/javascript" charset="utf-8"></script>
	<title>Fruitful Minds</title>
<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(["_setAccount", "UA-22860878-1"]);
	_gaq.push(["_trackPageview"]);
	(function() {
		var ga = document.createElement("script"); ga.type = "text/javascript"; ga.async = true;
		ga.src = ("https:" == document.location.protocol ? "https://ssl" :"http://www") + ".google-analytics.com/ga.js";
		var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>
</head>

<body onload="js_init()">
<div id="container">
<div id="content">
	<!--
	<ul id="navbar">
		<li><a href="./mission.html">About Us</a></li>
		<li><a href="./donate.html">Donate</a></li>
	</ul>
	-->
	<div id="portal">
		<a class="portal-button" href="{% url 'students' %}">
			<img src="{% static 'main/commons/grape_solid.png' %}" alt="" /><br />
			Students &amp;<br/>Parents
		</a>
		<a class="portal-button" href="{% url 'educators' %}">
			<img src="{% static 'main/commons/apple_solid.png' %}" alt="" /><br />
			Educators
		</a>
		<a class="portal-button last" href="{% url 'involved' %}">
			<img src="{% static 'main/commons/pear_solid.png' %}" alt="" /><br />
			Get Involved
		</a>
	</div>

	<hr />

	<div id="portal-announce">
            {% if latest_message %}
                <p>{{ latest_message.text }}</p>
            {% else %}
                <p>Welcome to Fruitful Minds!</p>
            {% endif %}
	</div>

	<div id="slideshow-container">
            {% if photos %}
        	<ul id="portal-slideshow" class="slideshow">
	            {% for photo in photos %}
                        <li><img src="{{ photo.photo.url }}" alt="" width="340px" height="226px" /><div class="portal-quote">&quot;"{{ photo.quote }}"&quot;<div class="portal-quote-attrib">&mdash;"{{ photo.attribution }}"</div></div></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No photos available</p>
            {% endif %}
        </div>
	<div id="portal-summary">
	<p>Fruitful Minds places college students in local elementary and middle schools to deliver nutrition education.</p>
	<p>We inspire young students to be the best they can be through healthy choices while providing college students with professional development.</p>
	</div>
	<a class="portal-link" href="{% url 'mission' %}">About</a>
	<a class="portal-link" href="{% url 'students' %}">News</a>
	<a class="portal-link" href="{% url 'contact' %}">Contact Us</a>
	<a class="portal-link" href="{% url 'donate' %}">Donate</a>

	<div class="clear"></div>

</div><!-- div:content -->

<div id="footer">
<div id="footer-content">
&#x00A9; 2011&ndash;2013 Fruitful Minds, Inc. <a href="{% url 'admin:index' %}">Admin</a>
</div>
</div>

</div><!-- div:container -->
</body>
</html>
